body, html {
  margin: 0px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:link {
  color: white; text-decoration: underline;
  font-family: 'Lobster', 'cursive';
  font-size: 1.25em;
  margin: 5px;
}
a:active {
  color: white; text-decoration: underline;
}
a:visited {
  color: white; text-decoration: underline;
}
a:hover {
  color: grey; text-decoration: none;
}

.aboutContainer {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background: rgba(37,41,28, 0.75);
    text-align: center;
    font-size: 1.25em;
    border: 2px solid black;
    padding: 20px;
    font-family: lobster
}

.beerMenu {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
  padding: 20px;
}

.centerInfo{
  padding: 50px;
}

.cocktailsMenu {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
  padding: 20px;
}

/* container for forms */
.containerContactUs {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
}

.containerContactUs p {
  margin: 10px;
  color: white;
}

textarea {
    height: 20vh;
    background-color: rgba(107,127,125, 0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    color: white;
    margin: 5px;
    padding: 10px;

  }

input {
    background-color: rgba(107,127,125, 0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    color: white;
    margin: 5px;
    padding: 10px;
  }

button{
  margin: 10px;

}

/*  */

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    text-align: center;
    background: grey;

}

footer p {
  color: white;
  padding-bottom: 20px;
  margin: 10px;
}

.header {
  display: block;
  text-align: center;
  padding: 20px;
  background-image: url(http://cdn.morguefile.com/imageData/public/files/a/alvimann/preview/fldr_2009_07_06/file9431246908647.jpg);
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-opacity: 0.5;
}

/* map */
.map-canvas {
  width: 800px;
  height: 600px;
  background-color: gray;
}
/*  */

.topHeader a {
  margin: 20px;
  padding: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  line-height: 50px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: grey;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
}

.menuContainer {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
  padding: 20px;

}

.sandwichesMenu {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
  padding: 20px;
}

.snacksMenu {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
  padding: 20px;
}


.smallLogo {
  display: block;
  width: 200px;
  height: 200px;
  border: 4px;
  border-radius: 25px 25px 0;
  background-image: url(http://sipboulder.calebblock.net/wp-content/uploads/2014/12/logo_200.png);
  background-position: center;
  margin: 0 auto;
  text-align: center;
}

.vinoMenu {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background: rgba(37,41,28, 0.75);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid black;
  padding: 20px;
}
