
<div class="header">
  <div class="smallLogo">
  </div>
  <div class="topHeader">
    {{#link-to 'home'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'menu'}}Menu{{/link-to}}
    {{#link-to 'blog'}}Blog{{/link-to}}
    {{#link-to 'contact'}}Contact Us{{/link-to}}
  </div>
</div>


{{outlet}}
