
<div class="header">
  <div class="smallLogo">
  </div>
  <div class="topHeader">
    {{#link-to 'home'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'menu'}}Menu{{/link-to}}
    {{#link-to 'events'}}Events{{/link-to}}
    {{#link-to 'blog'}}Blog{{/link-to}}
    {{#link-to 'contact'}}Contact Us{{/link-to}}
  </div>
</div>

<div class="centerInfo">
  {{outlet}}
</div>

{{google-map markerInfoWindowTemplateName='map/info-window'
             markers=model}}

<footer>
  <p>
    © 2015 SiP | 2810 East College Avenue #3, Boulder, CO 80303 | (303) 544-2000
  </p>
</footer>
