<div class="menuContainer">
  <p>Snacks</p>
  <p>
    San Francisco Sourdough Pretzels crunchy pretzels served with whole grain Dijon Mustard

    4.95</p>

  <p>
    Chips & Salsa  white corn tortilla chips served with medium salsa

    4.95
  </p>

  <p>
    White Bean Hummus   white beans pureed with basil, lemon and garlic   (served with Tortilla chips)

    4.95
  </p>

  <p>
    Goat Cheese   goat’s milk, fresh & creamy, sprinkled with dried Italian seasoning   (served with crackers)

    4.75
  </p>

  <p>
    Sharp Cheddar   aged 9+ months, slightly sharp, full bodied   (served with crackers OR pretzels)

    4.75
  </p>

  <p>
    Salami   aged and cured beef and sausage   (served with crackers and a dollop of mustard – upon request)

    4.75
  </p>

  <p>
    Pepperoni   pork and beef / aged and cured   (served with crackers)

    4.75
  </p>

  <p>
    Salami + Sharp Cheddar   sliced salami, aged cheddar paired with crunchy sourdough pretzels

    8.55
  </p>

  <p>
    Combo Board   goat, cheddar, salami & pepperoni   (served with crackers)

    15.25
  </p>

  <p><strong>
    Grilled Panini Sandwiches
    (includes Boulder chips)
  </strong></p>

  <p>
    Two Cheese   muenster, havarti & spinach with a spread of whole grain Dijon mustard on sourdough

    6.95
  </p>

  <p>
    Turkey   muenster, havarti, shaved turkey, spinach and whole grain Dijon mustard OR pesto

    7.95
  </p>

  <p>
    Salami   muenster, havarti, salami & whole grain Dijon mustard

    7.95
  </p>

  <p>
    Pepperoni   muenster, havarti, pepperoni & whole grain Dijon mustard

    7.95
  </p>

  <p>
    Red   muenster, havarti, oregano, pepper flake, house made red sauce and pepperoni OR salami

    7.95
  </p>

  <p>
    Pesto   muenster, havarti, pesto, spinach and sun-dried tomatoes

    7.95
  </p>

  <p>
    White Bean   muenster, havarti, white bean hummus, spinach and sun-dried tomatoes

    7.95
  </p>


  <p>
    Veggie   muenster, havarti, roasted red peppers, sun-dried tomatoes, spinach & hummus OR mustard

    7.95
  </p>


  <p><strong>Vino</strong>

  </p>

  <p>Prosecco Brut Mionetto   Italy – fruity bouquet, hint of golden apples, fresh, light bodied, well balanced

  7.75
  </p>

  <p>
    Riesling  Fish Eye Australia – fresh picked apricots with floral aromas, semi-sweet, light and refreshing

    6.75
  </p>

  <p>
    Pinot Grigio Folonari Italy – cool, crisp, vibrant, juicy, bright acidity, notes of white pepper

    6.75
  </p>

  <p>
    Sauvignon Blanc Bonterra Mendocino – expressive grapefruit, citrus, melon & kiwi, refreshing tart finish

    7.5 / 27
  </p>

  <p>
    Chardonnay Banrock Station Australia – aromas of citrus, peach and hints of tropical fruit,full bodied

    6.75
  </p>

  <p>
    Chardonnay Hess Monterey – pineapple, melon, tropical fruit, med bodied, refreshing, French oak

    14 (1/2 bottle)
  </p>

  <p>
    Pinot Noir Pepperwood Grove Chile – med bodied, vibrant aromas of cherry, red raspberry & toasted almonds

    6.75
  </p>


  <p>
    Merlot Bota CA – aromas of toasty oak, vanilla, black cherry & plum; cherries, red currant & blackberries on the palate

    6.75
  </p>

  <p>
    Shiraz Rosemount Australia – intense, spicy fruit & long richly textured finish, American oak

    25
  </p>

  <p>
    Cabernet Lindeman’s Australia – med to full bodied, classic dark berry and casis characteristics, hints of chocolate

    6.75
  </p>


  <p>
    Zinfandel Cellar 8 California – intense aromas of berry fruit, flavors of blackberry, black pepper & tobacco

    24
  </p>

  <p>
    Malbec Bel Arbor Mendoza – full bodied exhibiting an intense mix of red fruits, plum and cherry jam

    6.75
  </p>

  <p>  Please inquire about our rotating $30 wine bottle specials. Fun, tasty and interesting varietals that change frequently
  </p>

  <p><strong>
    Beer / Cider
  </strong></p>


  <p>
    Draft Beer & Cider   mostly Colorado – please check out the 8  rotating ‘craft draft’ handles or ask your server !

    5-7
  </p>


  <p>

    Firestone Walker ‘Pivo Pils’ Pilsner Paso Robles - hoppy pilsner, GABF gold medal winner, refreshing   (12oz can)

    4.95
  </p>


  <p>
    Renegade ‘Redacted’ Rye IPA Denver - brewed with 20% rye malt to balance the citrusy hop   (12oz can)

    4.95
  </p>

  <p>
    Wild Cider Pineapple Firestone – pineapple on the nose, hints of vanilla and butterscotch     (16oz can)

    5.95
  </p>

  <p>
    <strong>$3 rotating can and/or bottle specials. Just ask</strong>
  </p>


  <p>
    <strong>
      Cocktails / Martinis
    </strong>
  </p>

  <p>
    SiP Toddy choice of hot tea, soju, and honey

    5.95
  </p>

  <p>

     Bloody Mary (spicy mix & soju) / Cape Cod (cranberry & soju)

    5.95
  </p>

  <p>
    Daiquiri   100% crushed fruit blended and frozen with soju (virgin for $5)

    6.95
  </p>


  <p>
    Soju Martinis – (shaken and served UP in a martini glass)

    Cosmo (cran, lime juice)

    Gimlet (lime juice)

    Dirty (olive juice)

    6.95 ea

    (all prices include sales tax)

  </p>
  
</div>
